@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*  Default properties provided in the root selector */
:root {
  --color-primary: #f0e68c; 
  --color-secondary: #D14836; 
  --color-accent: #8e44ad; 
  --color-link-text: #49c5b6; 
  --color-body: #e1e1e1;
  --color-border: #c6c6c6;
  --color-paragraphs: #666666;
  --color-shadow: rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', sans-serif;
}

body {

}

#grid-container {

}

.nav {

}

.nav > a {

}

.header {

}

.side-bar {

}

.side-bar > * {

} 

.card-container {

}

.card, .header, .side-bar {

}

.card {
  width: 240px;

}

.card img {
  width: 100%;

}

.card h2 {

}

.card p {

}

