<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Exercise One</title>
    <link rel="stylesheet" href="./css/site.css">
</head>

<body>
    <div class="container">
        <h1>About me</h1>
        <p>I am awesome. Cats are awesome. Therefore, I must be a cat. Meow 🐈</p>
        <dl>
            <dt>Favorite Foods:</dt>
            <dd>{{favoriteFood}}</dd>
        </dl>

        <p>My favorite country is {{favoriteCountry}}</p>

        <p>My Favorite Animal: 2 {{favoriteAnimal}}</p>
    </div>
</body>

</html>