@font-face {
    font-family: "Roboto Slab";
    src: url(./assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
    background-color: gainsboro;
    font-family: "Roboto Slab", serif;
    margin: 0px;
}

h1, h2 {
    color: #DBAF27;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

p {
    padding: 25px;
    background-color: white;
    margin: 40px 0px;
    text-align: justify;
    border-radius: 15px;
}

#container {
    background-color: #FFE69A;
    padding: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p, #container {
    box-shadow: 10px 10px 5px grey;
}

hr {
    width: 66%;
    margin: 40px auto;
    border: 2px dashed #DBAF27;
}

#gz-logo {
    width: 150px;
    margin: 25px;
    float: right;
}

#f-logo {
    display: block;
    margin: auto;
}

ul {
    margin-left: 10%;
    font-size: 1.5em;
}

table {
    border: 1px solid black;
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
}

td, th {
    padding: 5px 15px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: oldlace;
}

tr:nth-child(odd) {
    background-color: gainsboro;
}