

/* landscape size w700 × h541 */

#container {
    height: 551px;
    width: 710px;
    border: 2px solid slateblue;
    position: relative;
    background-color: whitesmoke;
}

.bground {
    position: absolute;
    left: 5px;
}

.tester {border: solid 10px orangered}

#tree {
    width: 700px;
    z-index: 2;
    bottom: 5px;
    left: 5px;
}

#landscape {
    z-index: 0;
    bottom: 5px;
}

.bauble {
    position: absolute;
    z-index: 3;
}

#blue {
    left: 17%;
    top: 44%;
}

#dblue {
    left: 43%;
    bottom: 37%;
}

#green {
    left: 60%;
    bottom: 50%;
}

#orange {
    right: 8%;
    bottom: 36%;
}

#pink {
    z-index: 1;
    left: 57%;
    bottom: 26%;
}

#red {
    left: 7%;
    bottom: 25%;
}