body {
    background-color: rgb(155, 57, 57);
    padding: 40px
}

h1{
    font-stretch: extra-expanded;
    color:#ffaaaa;
    border-bottom: 2px dashed peru;
    font-family: american typewriter;
    text-align: center;
    font-weight: 350;
    padding: 20px;
    padding-bottom: 30px;
}

h3{
    color: #ffaaaa;
    font-weight: 20;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: american typewriter;
    color: #ffaaaa;
    font-weight: 350;
    text-align: left;
}

#checkboxes {
    color: 
    font-family:burlywood;
}

#first-para {
    font-family: american typewriter;
    color: #ffaaaa;
    font-weight: 350;
    text-align: center;
}

#pic1 {
    padding-top: 50px;
    padding-bottom: 75px;
}