body {
    padding: 50px 20% 50px 20%;
    font-family: 'Shadows Into Light', Georgia, serif;    
}

h1, h2, h3, h4, strong {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-align: right;
    border-bottom: 1px solid lightslategray;
}

hr {
    border: 1px dotted lightslategrey;
    /* - An entire horizontal rule should take up only 50% of the width available */
    margin: 0% 25% 0% 25%;
}

p {
    color: darkslategray;
    text-align: justify;
    font-style: italic;
}

#big-achievement {
    color: red;
}

.dif-eng {
    font-weight: bold;
}
