/* TODO Your CSS here. */
* {
    font-family: Verdana, Geneva, sans-serif;
    color: #FEFEFE;
}

body {
    background-image: url(./assets/bigleaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 0px 20px;
}

.container {
    text-align: center; 
    margin: auto;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header header header"
        "lsidebar buttons rsidebar"
        "info info info"
}
/*1358 × 905*/





.header {
    font-weight: bold;
    grid-area: header;
    padding-bottom: 20px;
}



.buttongrid {
    grid-area: buttons;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}


.panel {
    grid-area: info;
    background-color: whitesmoke;
    opacity: 70%;
    width: 70%;
    margin: auto;
}

p, th {
    color: darkgray;
}

.button {
    background-color: transparent;
    border: white solid 2px;
}

img {
    padding: 10px;
}

