<div class="container">
    <h1>Image upload complete!</h1>
    <div class="flex-col align-center">
        <p><strong>File name:</strong> {{fileName}}</p>
        <p><em>{{caption}}</em></p>
    </div>
</div>