@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/*  Default properties provided in the root selector */
:root {
  --color-primary: #f0e68c; 
  --color-secondary: #D14836; 
  --color-accent: #8e44ad; 
  --color-link-text: #49c5b6; 
  --color-body: #e1e1e1;
  --color-border: #c6c6c6;
  --color-paragraphs: #666666;
  --color-shadow: rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0px;
  background-color: #c6c6c6;
}

#grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 4fr 0.5fr;
  grid-template-areas: 
  "head head head head"
  "nav nav nav nav"
  ". sidebar cards .";
}

.nav {
  padding: 30px;
  background-color: #D14836;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  grid-area: nav;
}

.nav > a {
  color: #49c5b6;
  text-decoration: none;
  font-weight: bolder;
}

.header {
  color: #D14836;
  font-weight: bolder;
  background-color: #f0e68c;
  text-align: center;
  padding: 40px;
  grid-area: head;
}

.side-bar {
  background-color: #f0e68c; 
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1);
  margin: 10px;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-bar > * {
  color: #49c5b6;
  background-color: #8e44ad;
  border-radius: 15px;
  padding: 20px;
  text-decoration: none;
} 

.card-container {
  display: flex;
  flex-wrap: wrap;
  grid-area: cards;
}

.card, .header, .side-bar {

}

.card {
    width: 240px;
    background-color: #f0e68c; 
    margin: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card h2 {
  padding: 0px 10px;
}

.card p {
  padding: 0px 15px 20px 15px;
  color: #666666;
}



