#container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "h h h"
        "n n n"
        ". m ."
}

body {
    margin: 0px;
}

#header {
    background-color: rgb(98, 71, 221);
    grid-area: h;
    text-align: center;
}

#nav {
    background-color: rgb(175, 137, 233);
    grid-area: n;
    display: flex;
    justify-content: space-evenly;
}

#nav > a {
    padding: 20px;
}

#main {
    background-color: rgb(206, 182, 241);
    grid-area: m;
    padding: 20px 80px;
}

