#container {
    border: 1px black solid;
    display: grid;
    grid-template-areas: 
        "header header header header"
        "lsidebar text text rsidebar"
        "footer footer footer footer";
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 1fr auto 1fr;
}

#headings {
    grid-area: header;
    display: flex;  /*can use display flex here still as headings are child div tag of the parent element Container which was gridded*/
    justify-content: space-between;
    background-color: salmon;
    padding: 0px 30px;
}

#text {
    grid-area: text; 
    background-color: deepskyblue;
    border: 1px black solid;
    border-radius: 25px;
    padding: 50px 10px;
}

#foot {
    grid-area: footer;
    background-color: plum;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}











