<div class="container">

    {{!-- Add appropriate attributes to form element: --}}
    <form >

        <label for="distance">Distance (in kilometers)</label><br>
        <input type="number" id="distance" name="distance" required><br><br>

        <label for="fuel">Fuel Used (in litres)</label><br>
        <input type="number" id="fuel" name="fuel" required><br><br>

        <label for="fuelprice">Fuel Price (per litre)</label><br>
        <input type="number" id="fuelprice" name="fuelprice" required><br><br>


        <input type="checkbox" id="restaurant1" name="restaurants" value="Savory Bites Cafe">
        <label for="restaurant1">Savory Bites Cafe</label><br>

        <input type="checkbox" id="restaurant2" name="restaurants" value="The Spice House">
        <label for="restaurant2">The Spice House</label><br>

        <input type="checkbox" id="restaurant3" name="restaurants" value="Bella Trattoria">
        <label for="restaurant3">Bella Trattoria</label><br>

        <input type="checkbox" id="restaurant4" name="restaurants" value="Pacific Fusion Grill"> 
        <label for="restaurant4">Pacific Fusion Grill</label><br>

        <input type="checkbox" id="restaurant5" name="restaurants" value="Urban Harvest Kitchen">
        <label for="restaurant5">Urban Harvest Kitchen</label><br>

        <input type="checkbox" id="restaurant6" name="restaurants" value="The Cozy Corner Bistro">
        <label for="restaurant6">The Cozy Corner Bistro</label><br>

        <input type="checkbox" id="restaurant7" name="restaurants" value="Fire and Ice Steakhouse"> 
        <label for="restaurant7">Fire and Ice Steakhouse</label><br>

        <input type="checkbox" id="restaurant8" name="restaurants" value="Zenith Sushi Bar"> 
        <label for="restaurant8">Zenith Sushi Bar</label><br>

        <input type="submit">

    </form>
</div>