* {
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #706F6F;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #3AAA35;
}

a:visited {
    color: #706F6F;
}

h1, h2, h3 {
    font-weight: bold;
    color: #231F20;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
}

pre {
    font-family: Consolas, monospace;
}

p {
    text-align: justify;
}

.main-container {
    display: flex;
}

.control-panel, .data-display {
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 50px;
}

.control-panel {
    width: 50%;
    margin: 50px 25px 50px 50px;
}

.data-display {
    width: 50%;
    margin: 50px 50px 50px 25px;
}