<script src="./js/client.js"></script>

<div class="container">

  <div class="section">
    <h1>All Pokemon</h1>
    <div class="sprite-container">
      {{! TODO Display list of Pokemon here. }}
      {{#each pokemon}}
        <button>
          <img src="{{this.smallImageUrl}}">
          <span>{{this.name}}</span>
          </button>
      {{/each}}
    </div>
  </div>

  <div class="section">
    <div class="details">
      <h1>Details</h1>
      {{! TODO Display info about a single Pokemon here. }}
    </div>
  </div>

</div>