
<div class="container">
    <h1>Handlebars Views</h1>
    <p>Cat ipsum dolor sit amet, cat dog hate mouse eat string barf pillow no baths hate everything see owner, run
        in terror but freak human out make funny noise mow mow mow mow mow mow success now attack human find a way
        to fit in tiny box. Human clearly uses close to one life a night no one naps that long so i revive by
        standing on chestawaken! cat slap dog in face, and i'm going to lap some water out of my master's cup meow
        swat at dog chase laser knock over christmas tree, cat snacks.</p>
</div>