* {
    /* You can remove this line whenever you want, it is here for testing purposes */
    border: 1px solid black;
}

body {
    margin: 0px;
}

@media screen and (min-width: 600px) {
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "head head head head head"
    ". nav content rsidebar ."
    "foot foot foot foot foot";
}

.header {
    grid-area: head;
}

.header, .footer {
    background-color: slategray;
    text-align: center;

}

.nav {
    grid-area: nav;
}

.content {
    background-color: lightgray;
    grid-area: content;
}

.footer {
    grid-area: foot;
    
}

.rsidebar {
    grid-area: rsidebar;
}


    #container {
        /* grid-template-columns: 1fr;
        grid-template-areas: 
        "head"
        "content"
        "nav"
        "foot"; */
    }

}