body {
    margin: 0px;
}

@media screen and (min-width: 500px) {
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "head head head head head"
            ". lsidebar content rsidebar ."
            "foot foot foot foot foot";
    }
}

.header,
.footer {
    background-color: slategray;
    text-align: center;

}

.header {
    grid-area: head;
}

.lsidebar {
    grid-area: lsidebar;
}

.content {
    background-color: lightgray;
    grid-area: content;
}

.footer {
    grid-area: foot;

}

.rsidebar {
    grid-area: rsidebar;
}

