body {
    margin: 0px;
}

th {
    font-size: large;
}

table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 20px 15px;
    margin: 10px 0px;
}


#container {
    background-image: linear-gradient(180deg, #F8154A, #FFD316);
    border: 30px #FFD316 solid;
    border-radius: 30px;
    margin: 10px;
}


#pokemon-image {
    background-image: url("https://i.redd.it/ho1gk6a1kxh31.jpg");
    border: 10px solid #EBBF00;

}

@media screen and (min-width: 950px) {
    #container {
        display: grid;
        grid-template-columns: 0.25fr 1fr 2fr 1fr 1fr;
        grid-template-areas:
            "head head head head head"
            ". lsidebar content rsidebar ."
            "foot foot foot foot foot";
    }
}

@media screen and (max-width: 625px) {
    #pokemon-image {
        width: 90%;
    }
}

.header, .footer {
    background-color: #A8AAB4;
    text-align: center;


}

.header {
    grid-area: head;
    font-family:'Handjet', 'Shadows into Light', sans-serif;
    font-size: 2em;

}

.lsidebar {
    grid-area: lsidebar;

}

.lsidebar > p {
    margin: 10px 0px;
}

.content {
    background-color: lightgray;
    grid-area: content;

    font-family: 'Special Elite', sans-serif;
    font-weight: 3em;
}

.footer {
    grid-area: foot;
    padding: 20px;

}

.rsidebar {
    grid-area: rsidebar;

    background-color: lightgray;
    font-family: 'Special Elite', sans-serif;
}

#offence, #defense {
    margin: 10px;
}


#pokemon-data {
    margin: 68px 0px 0px 0px;
}

.footer, .lsidebar {
    font-family: 'Ysabeau Office', sans-serif;
}

.header, .content, .rsidebar, .lsidebar {
    padding: 10px;
}
