@media screen and (min-width: 1000px) {
    #container {
        border: 1px black solid;
        display: grid;
        grid-template-areas: 
            "header header header header"
            "lsidebar text1 text2 rsidebar"
            "footer footer footer footer";
        grid-template-columns: 15% 1fr 1fr 15%;
        grid-template-rows: 1fr auto 1fr;
    }

    #col1 {
        grid-area: text1; }

    #col2 {
        grid-area: text2; }
        
}
/*Note by adding the container div grid only when over certain size is met it means that header and footer are only styled
by the flex styling (as they were when gridded), and text is just normal reading; ergo just the columns change) */

.text {
    background-color: deepskyblue;
    border: 1px black solid;
    border-radius: 25px;
    padding: 50px 10px;
    margin: 10px;
}


#foot {
    grid-area: footer;
    background-color: plum;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px; 
}

#headings {
    grid-area: header;
    display: flex;  /*can use display flex here still as headings are child div tag of the parent element Container which was gridded*/
    justify-content: space-between;
    background-color: salmon;
    padding: 0px 30px;
    margin: 10px;
    border: 1px solid black;
}






