<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My favorite things</title>
    <link rel="stylesheet" href="./css/site.css">
</head>

<body>
    <div class="container">
        <h1>Article summaries</h1>
        {{! TODO Your code here. !}}

        {{#if articles}}
        <div class="grid-3">
            {{#each articles}}
            <div class="card">
                <img class="card-header card-img" src={{imageUrl}}>
                <div class="card-body">
                    <h3>{{title}}</h3>
                    <p>{{content}}</p>
                </div>
            {{/each}}
            </div>
        </div>

        {{else}}
        <p>There are no Articles to Display</p>
        {{/if}}
    </div>
</body>

</html>